.AdminDash-cont {
  width: 76vw;
  margin: 2vh 1vw;
}
.AdminDash-cont .select-cont {
  text-align: left;

  margin-bottom: 10px;
}
.AdminDash-cont select {
  margin: 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
  outline: none;
  font-size: 16px;
}
.AdminDash-cont .wish-container {
  padding: 1em;
  width: 95%;
  margin: 10px auto;
  border: 1px solid rgba(128, 128, 128, 0.253);
  border-radius: 7px;
  height: 20%;
  text-align: left;
}
.AdminDash-cont .wish-container .time-date {
  padding: 1em;
}
.AdminDash-cont label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}
.AdminDash-cont .Cards-cont {
  display: flex;
  gap: 2rem;
}
.AdminDash-cont .Cards-cont .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  background-color: #ccc;
  border-radius: 7px;
}
