.Emptable-cont {
  width: 78vw;
  background-color: white;
  height: 94vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem,
    rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0;
  border-radius: 11px;
  overflow-y: hidden;
  margin: 2vh 1vw;
  flex-grow: 1;
}

.Emptable-cont table {
  width: 100%;
}
.Emptable-cont .Emptable {
  height: 600px;
  border-collapse: collapse;
  overflow-y: scroll;
}

.Emptable-cont thead {
  background-color: rgb(195, 186, 186);
}

.Emptable-cont th,
.Emptable-cont td {
  padding: 15px 18px;
  text-align: left;
  font-size: 0.9rem;
  /* border-bottom: 1px solid #ddd; */
  border-bottom: 1px solid rgba(52, 71, 103, 0.103);
}

.Emptable-cont th {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.Emptable-cont tbody tr {
  /* background-color: #eaf7ff; */
  transition: background-color 0.3s ease;
}

.Emptable-cont tbody tr:hover {
  background-color: #d4d0d0;
}

.Emptable-cont td {
  text-align: left;
}
.Emptable-cont .leavebuttons {
  display: flex;
  align-items: center;
}

.Emptable-cont .leavebuttons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.Emptable-cont .leavebuttons .right {
  color: rgb(6, 122, 6);
  border-radius: 50%;
  cursor: pointer;
}
.Emptable-cont .leavebuttons .cross {
  color: red;
  cursor: pointer;
}
.Emptable-cont .leavebuttons .eye {
  color: #0f52b8;
  cursor: pointer;
}
.Emptable-cont .searchfilter {
  padding: 5px;
  border-radius: 7px;
  height: 15px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 300px;
  align-items: center;
}
.Emptable-cont .table-optns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 10px 0;
}
.Emptable-cont .dropDrownFilter {
  padding: 5px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
}
.Emptable-cont .table-optns2 {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.Emptable-cont .table-optns2 button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-data-msg{
  width: 100%;
  margin-top: 4em;
  text-align: center;
  /* margin: 5em auto; */
}